.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background overlay */
}

@keyframes fallAnimation {
  0% {
    background-position: bottom;
  }
  100% {
    /* This value ensures the white gradient "rises" to the top */
    background-position: top;
  }
}

.mainContent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 75%;
  max-width: 275px;
  height: 100%;
  background-color: #1a2920; /* Solid green background */
  /* Adjusted gradient to cover more space */
  background-image: linear-gradient(
    #1a2920 75%, /* Green */
    rgba(255, 255, 255, 0.8) 100% /* White */
  );
  background-size: 100% 300%; /* Enlarged background size for the animation */
  background-repeat: no-repeat;
  animation: fallAnimation 5s linear infinite alternate;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.menuItem {
  color: white; /* Changing text color for contrast */
  padding: 10px;
  border-bottom: 1px solid white; /* White border for items */
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2); /* Slight dimming of menu item backgrounds */
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Light hover effect */
}

/* Extra styling for icons and text alignment */
.menuIcon {
  margin-right: 10px; /* Spacing before the title */
}

.menuText {
  display: inline-block; /* Ensuring proper alignment */
  vertical-align: middle; /* Centering text vertically */
}