.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

@keyframes fallAnimation {
  0% {
    background-position: bottom;
  }
  100% {
  
    background-position: top;
  }
}

.mainContent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 75%;
  max-width: 275px;
  height: 100%;
  background-color: #1a2920; 
  background-image: linear-gradient(
    #1a2920 75%, 
    rgba(255, 255, 255, 0.8) 100% 
  );
  background-size: 100% 300%; 
  background-repeat: no-repeat;
  animation: fallAnimation 5s linear infinite alternate;
  overflow-y: auto;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.menuItem {
  color: white; /* Changing text color for contrast */
  padding: 10px;
  border-bottom: 1px solid white; 
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}


.menuIcon {
  margin-right: 10px; 
}

.menuText {
  display: inline-block; 
  vertical-align: middle; 
}