
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.home {
  height: calc(100vh - 5rem); /* Adjust height to account for navigation bar */
  background: url('/Photos/rainHome.gif') no-repeat center/cover;
  color: white; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}