.weather-body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.weather-body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.weather-body p {
    font-size: 1.6rem;
}

.weather-body h1 {
    font-size: 6rem;
}

.weather {
    width: 100%;
    height: 100vh;
    position: static;
    background-color: rgba(0, 0, 0, .4);
    color: #ffffff;
}

.weather:before {
    content: '';
    background: url('/photos/raingif.gif') no-repeat center/cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    max-width: 700px;
    height: 700px;
    margin: auto;
    padding: 0 1rem;
    position: static;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    width: 100%;
    margin: 1rem auto;
}

.description {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(270deg);
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, .2);
}

.bold {
    font-weight: 700;
}

.search {
    text-align: center;
    padding: 1rem;
}

.input {
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    color: #f8f8f8;
}

.placeholder {
    color: #f8f8f8;
}

.hgButton {
    background-color: white; 
    color: black; 
}

html .simple-keyboard.hg-theme-default.myTheme .hg-button {
    background-color: white !important; 
    color: black !important; 
    opacity: 1 !important; 
}
